    #holder {
    background-color: #c5fad5;
    }
    .callout{
        font: bold 0.9rem Georgia, "Times New Roman", Times, serif;
        padding: 0.5rem;
    }
    *, *:before, *:after {
        box-sizing: border-box;
    }
    html {
        font-size: 120%;
    }
    body {
        color: #666666;
        background-color: #ffffd2;
    }
    body, .callout, nav ul {
        margin: 0;
    }
    header {
        background-image: linear-gradient( #aa96da, #f4f4a5);
        color: rgb(255, 255, 255);
        
    }
    nav {
        text-align: center;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0.1rem 0.2rem;
    }
    nav ul {
        padding: 0.4rem;
        background-color: #ae9dd6;
    }
    nav ul a {
        padding: 0.2rem;
        color:#999999;
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: none;
        background-color: beige;
        border-radius: 0.9em;
    }
    nav a:visited {
        color: #2c2c2c;
    }
    main {
        padding: 0 0 .4rem;
    }
    main p {
        font-size: 0.8rem;
        line-height: 1;
        margin: 0.4rem;
    }
   
  
    img {
        width: 100%;
        height: auto;
        margin-right: 0.4rem;
      }

    @media screen and (min-width: 40em) {
    
        html {
            font-size: 100%;
        }
        img {
            float: left;
            
            max-width: 200px;
          }
        #holder {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            max-width: 60rem;
            margin: 0 auto 0 auto;
        }
        header, footer {
            width: 100%;
        }
        .callout {
            font-size: 2rem;
            padding: 0.8rem;
        }
        nav {
            flex-basis: 30%;
            padding: 1rem;
            border-left: 1px solid #f4f4a5;
            border-bottom: 1px #f4f4a5;
        }
        nav ul {
            padding: 0.1rem;
        }
        nav ul li {
            padding: 0.5rem;
            display:block;
        }
        nav ul a {
            display: inline-block;
            width: 90%;
            font-size: 1rem;
            margin: 0.2rem;
            padding: 0.3rem;
            border-radius: 0.9em;
        }
        nav a:hover, nav a:active, nav a:focus {
            color: rgb(16, 16, 16);
        }
        main {
            flex: 1;
            padding: 0 1rem;
            border-left: 1px solid #f4f4a5;
            border-right: 1px solid #f4f4a5;
        }
        main p {
            font-size: 1rem;
            line-height: 1.4;
        }
    }
